<header class="hens-header">
  <nav>
    <h1><a href="/">Michael Hensley</a></h1>
    <a class="hens-menu icon-menu"></a>
    <div class="hens-navigation-menu">
      <ul class="hens-header-list hens-page-list">
        <li>
          <a href="/about">About</a>
        </li>
      </ul>
      <ul class="hens-header-list hens-tag-list">
        <li>
          <a href="/tag/35mm">35mm</a>
        </li>
        <li>
          <a href="/tag/digital">Digital</a>
        </li>
      </ul>
      <ul class="hens-social-list hens-header-list">
        <li>
          <a href="https://www.instagram.com/michael_hensley_/" target="_blank" class="hens-track" data-action="click nav instagram" data-category="nav"><i class="icon-instagram"></i> Instagram</a>
        </li>
        <li>
          <a href="http://hensleym.tumblr.com/" target="_blank" class="hens-track" data-action="click nav about" data-category="nav"><i class="icon-tumblr"></i> Tumblr</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
