/**
 * Vars
 */

// measurements

@gutter: 30px;
@half-gutter: @gutter / 2;
@quarter-gutter: floor(@gutter / 4);

// font sizes

@font-lg: 1.2rem;
@font-md: 1rem;
@font-sm: 0.85rem;

// colors

@mine-shaft: #363636;
@tundora: #474747;
@gray: #808080;

// break points

@break-md: 787px;

body {
  font-family: 'Raleway';
}

.hens-main {

  @media(min-width: @break-md) {
    margin-left: 150px + (@gutter * 2);
    padding: @gutter;
  }

}

.hens-header {
  margin: 0;
  padding: @gutter;

  @media(min-width:@break-md) {
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
  }

  h1 {
    margin: 0 0 @half-gutter;
    font-size: @font-lg;
    font-weight: 400;
    a {
      color: black;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
      &:active {
        color: @mine-shaft;
      }
    }
  }
}

.hens-header-list {
  margin: @half-gutter 0 0;
  padding: 0;

  li {
    list-style: none;
    margin-top: @quarter-gutter;
  }

  a {
    color: @gray;
    text-decoration: none;

    &:hover,
    &:focus {
      color: @mine-shaft;
    }
    &:active {
      color: black;
    }
  }
}
