/**
 * Vars
 */

// measurements

@gutter: 30px;
@half-gutter: @gutter / 2;
@quarter-gutter: floor(@gutter / 4);

// font sizes

@font-lg: 1.2rem;
@font-md: 1rem;
@font-sm: 0.85rem;

// colors

@mine-shaft: #363636;
@tundora: #474747;
@gray: #808080;

// break points

@break-md: 767px;
@break-lg: 1000px;

body {
  font-family: 'Raleway';
}

.hens-titlecase {
  text-transform: capitalize;
}

.hens-main {

  // margin-top: @gutter;

  @media(min-width: @break-md) {
    // margin-top: 0;
    padding: @gutter @gutter @gutter (150px + (@gutter * 3));
  }
  @media(min-width: @break-lg) {
    width: 730px;
    margin: 0 auto;
  }
  @media(min-width: 1190px) {
    padding-left: @gutter;
  }

  h1 {
    margin: 0 0 @gutter;
    padding: 0 @half-gutter;
    font-size: @font-md;
    font-weight: 400;
    color: @tundora;

    @media(min-width: @break-md) {
      padding: 0;
      font-size: @font-lg;
    }
  }

  p {
    color: @gray;
    margin: 0 @half-gutter;
    +p {
      margin-top: @half-gutter;
    }

    @media(min-width: @break-md) {
      margin: 0;
    }
  }
}

.hens-footer {
  padding: @gutter @half-gutter @gutter;
  font-size: @font-sm;

  @media(min-width: @break-md) {
    padding: @gutter * 2 0 0;
  }
}

.hens-pagination {
  margin-top: @gutter;
  padding: 0 @half-gutter;
  text-align: right;

  a {
    color: @gray;
    text-decoration: none;

    &:hover,
    &:focus {
      color: @tundora;
    }
    &:active {
      color: @mine-shaft;
    }
  }

  @media(min-width: @break-md) {
    padding: 0;
  }
}

.hens-pagination-prev {
  float: left;
}

.hens-post {
  img {
    width: 100%;
    height: auto;
  }

  +.hens-post {
    margin-top: @gutter;

    @media(min-width: @break-md) {
      margin-top: @gutter * 2;
    }
  }
}

.hens-header {
  margin: 0;
  padding: @half-gutter;

  @media(min-width:@break-md) {
    padding: @gutter;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
  }

  h1 {
    margin: 0 0 @half-gutter;
    font-size: @font-lg;
    font-weight: 400;

    a {
      color: black;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
      &:active {
        color: @mine-shaft;
      }
    }

    @media(min-width: @break-md) {
      margin-bottom: @gutter;
    }
  }
}

.hens-menu {
  position: absolute;
  top: @half-gutter;
  right: @half-gutter;
  font-size: @font-lg;

  @media(min-width: @break-md) {
    display: none;
  }
}

.hens-navigation-menu {
  display: none;
  border-top: 1px dotted @gray;
  border-bottom: 1px dotted @gray;
  padding-bottom: @half-gutter;
  margin-bottom: @half-gutter;

  .hens-menu-expanded & {
    display: block;
  }

  @media(min-width: @break-md) {
    display: block;
    border-top: none;
    border-bottom: none;
    padding-bottom: 0;
  }
}

.hens-header-list {
  margin: @half-gutter 0 0;
  padding: 0;

  li {
    list-style: none;
    margin-top: @quarter-gutter;
  }

  a {
    color: @gray;
    text-decoration: none;

    &:hover,
    &:focus {
      color: @mine-shaft;
    }
    &:active {
      color: black;
    }
  }
}

.hens-post-meta {
  margin-top: @gutter;
  padding: 0 @half-gutter;
  color: @gray;

  a {
    color: @gray;
    text-decoration: none;

    &:hover,
    &:active {
      color: @mine-shaft;
      text-decoration: underline;
    }
    &:active {
      color: black;
    }
  }

  @media(min-width: @break-md) {
    padding: 0;
  }
}
