/**
 * Vars
 */
body {
  font-family: 'Raleway';
}
.hens-titlecase {
  text-transform: capitalize;
}
@media (min-width: 767px) {
  .hens-main {
    padding: 30px 30px 30px 240px;
  }
}
@media (min-width: 1000px) {
  .hens-main {
    width: 730px;
    margin: 0 auto;
  }
}
@media (min-width: 1190px) {
  .hens-main {
    padding-left: 30px;
  }
}
.hens-main h1 {
  margin: 0 0 30px;
  padding: 0 15px;
  font-size: 1rem;
  font-weight: 400;
  color: #474747;
}
@media (min-width: 767px) {
  .hens-main h1 {
    padding: 0;
    font-size: 1.2rem;
  }
}
.hens-main p {
  color: #808080;
  margin: 0 15px;
}
.hens-main p + p {
  margin-top: 15px;
}
@media (min-width: 767px) {
  .hens-main p {
    margin: 0;
  }
}
.hens-footer {
  padding: 30px 15px 30px;
  font-size: 0.85rem;
}
@media (min-width: 767px) {
  .hens-footer {
    padding: 60px 0 0;
  }
}
.hens-pagination {
  margin-top: 30px;
  padding: 0 15px;
  text-align: right;
}
.hens-pagination a {
  color: #808080;
  text-decoration: none;
}
.hens-pagination a:hover,
.hens-pagination a:focus {
  color: #474747;
}
.hens-pagination a:active {
  color: #363636;
}
@media (min-width: 767px) {
  .hens-pagination {
    padding: 0;
  }
}
.hens-pagination-prev {
  float: left;
}
.hens-post img {
  width: 100%;
  height: auto;
}
.hens-post + .hens-post {
  margin-top: 30px;
}
@media (min-width: 767px) {
  .hens-post + .hens-post {
    margin-top: 60px;
  }
}
.hens-header {
  margin: 0;
  padding: 15px;
}
@media (min-width: 767px) {
  .hens-header {
    padding: 30px;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
  }
}
.hens-header h1 {
  margin: 0 0 15px;
  font-size: 1.2rem;
  font-weight: 400;
}
.hens-header h1 a {
  color: black;
  text-decoration: none;
}
.hens-header h1 a:hover,
.hens-header h1 a:focus {
  text-decoration: underline;
}
.hens-header h1 a:active {
  color: #363636;
}
@media (min-width: 767px) {
  .hens-header h1 {
    margin-bottom: 30px;
  }
}
.hens-menu {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.2rem;
}
@media (min-width: 767px) {
  .hens-menu {
    display: none;
  }
}
.hens-navigation-menu {
  display: none;
  border-top: 1px dotted #808080;
  border-bottom: 1px dotted #808080;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.hens-menu-expanded .hens-navigation-menu {
  display: block;
}
@media (min-width: 767px) {
  .hens-navigation-menu {
    display: block;
    border-top: none;
    border-bottom: none;
    padding-bottom: 0;
  }
}
.hens-header-list {
  margin: 15px 0 0;
  padding: 0;
}
.hens-header-list li {
  list-style: none;
  margin-top: 7px;
}
.hens-header-list a {
  color: #808080;
  text-decoration: none;
}
.hens-header-list a:hover,
.hens-header-list a:focus {
  color: #363636;
}
.hens-header-list a:active {
  color: black;
}
.hens-post-meta {
  margin-top: 30px;
  padding: 0 15px;
  color: #808080;
}
.hens-post-meta a {
  color: #808080;
  text-decoration: none;
}
.hens-post-meta a:hover,
.hens-post-meta a:active {
  color: #363636;
  text-decoration: underline;
}
.hens-post-meta a:active {
  color: black;
}
@media (min-width: 767px) {
  .hens-post-meta {
    padding: 0;
  }
}
